<%- include('partials/header') %>

<style>
  .edit-employee-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #0D7C66; /* Blue background for Update */
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
</style>

<div class="edit-employee-container">
  <h2>Edit Employee Data</h2>
  <form action="/edit/<%= emp._id %>" method="POST">
    <input type="text" name="empName" value="<%= emp.empName %>" placeholder="Employee Name" required>
    <input type="text" name="empDesgn" value="<%= emp.empDesgn %>" placeholder="Employee Designation" required>
    <input type="text" name="empLocation" value="<%= emp.empLocation %>" placeholder="Employee Location" required>
    <input type="text" name="empSalary" value="<%= emp.empSalary %>" placeholder="Employee Salary" required>
    <button type="submit">Update</button>
  </form>
</div>

